@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
    .linediv-l {
        border-right: 1px white solid;
    }
    .linediv-r {
        border-left: 1px white solid;
    }
}
@media (max-width: 480px) {
    .copy {
padding: 2.5% 10%;
    }  
    .linediv-l {
        border-bottom: 1px white solid;
    }
    .linediv-r {
        border-top: 1px white solid;
    }
}



body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}        
.heading, .subheading {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    text-align: center;
}
p.lead {
    padding-top: 1.5%;
    font-size: 24px;
    line-height: 30px;
}
p {
    font-size: 18px;
    line-height: 24px;
}  
.pitch {
    padding-bottom: 5%;
}
.order {
padding: 2% 0%;
}
.actions {
    background-color: #343434;
    padding: 0% 0%;
}
.tab-title  {
    padding: 2.5% 0%;
    text-align: center;      
}

.video, .thermometer, .order, .social, .statistics, .upload {
    text-align: center;
}
.social, .upload {
color: white;
padding: 7% 7%;
}
.submit {
padding: 1% 0%;  
}
.statistics h3, .statistics p {
color: white;
}
.copy {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: justify;
}
.asset {
padding: 2.5% 0%;

}
.footer p {
    font-size: 11px;
}
.footer a {
color: #ccccff;
}


.tab {
    background-color: #eee;
    border-radius: 3px;
}

.grid-show {
    margin-top: 1%;
    margin-bottom: 1%;
}

.grid-show [class*="span"] {
    text-align: center;
    border-radius: 3px;
    min-height: 40px;
    line-height: 40px;
    padding-left: 1%;
    padding-right: 1%;
}

.grid-show [class*="span"][class*="span"] [class*="span"] {
    background-color: #ddd;    
}


